<!doctype html>
<html>
  <head>
      <title>Gummy Candies 101</title>
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
      <h1 id="splash_title">Gummy Candies: The Ultimate Smackdown</h1>
      <img src ="/images/project1.jpg"></img>
      <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>
      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
  </body>
</html>
