body {
  background-image: url("https://i.insider.com/5a4681bd0fa373560a8b45af?width=700");
  background-repeat: repeat;
  background-size: color;
  background-position: center top;
}

#splash_title {
	width: 100%;
  font-size: 75px;
  color: rgb(4, 10, 33);
  text-shadow: 4px 4px 4px rgb(240, 114, 55);
  text-align: center;
  position: relative;
}

.menu_button {
	background-color: rgba(240, 114, 55);
    font-size: 28px;
    color: rgb(247, 241, 246);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}

img{
  height: 500px;
  width: auto;
}

